:root {
    --color1: #354264;
    --color2: #7AABB8;
    --color3: #91ADC5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */
nav {
    background-color: var(--color1);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--color2)
}

.navbar-brand {
    font-size: 35px;
    color: #ffff00e5;

}

.navbar-brand:hover {
    color: #f5f5059f;
}

/* Estilo Index */

.contenedor h1 {
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.carousel {
    margin-bottom: 40px;
    align-self: center;
}

.carousel-container {
    width: 100%;
    box-shadow: 12px 12px 12px 0px #35426481;
}

.subtitulo {
    text-align: center;
    font-size: 30px;
}

.textContainer {
    font-size: 20px;
    background-color: #91adc55c;
    padding: 20px;
    box-shadow: 5px 5px 5px 0px #35426481;
}

.imagen-container {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 650px;
    align-self: center;
}

.img-muestra {
    min-width: 90%;
}

.muestra {
    display: flex;
    justify-content: center;
    padding: 2px;
    padding-top: 55px;
    padding-bottom: 40px;
}

@media (max-width:1200px) {
    .muestra {
        flex-direction: column;
    }
}


/* Estilo Nosotros */
.container-nosotros h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

.img-nosotros {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 650px;
    align-self: center;
    box-shadow: 8px 8px 8px 0px #35426481;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container-textoNosotros1,
.container-textoNosotros2 {
    background-color: #91adc55c;
    padding: 15px;
    box-shadow: 5px 5px 5px 0px #35426481;
}

.container-textoNosotros2 p {
    font-size: 20px;
    text-align: center;
}

.boton {
    display: grid;
    justify-content: center;
    margin: 10px;
    padding-top: 5px;
}

.boton a {
    display: block;
    padding: 10px 20px;
    background-color: var(--color1);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.boton a:hover {
    background-color: var(--color3);
    transition: .2s;
}



/*ESTILO DE OBRAS FINALIZADAS*/

/* .container-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 40px;
} */


/* .container-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    text-align: center;
} */

/* .column {
    margin: 35px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(202, 200, 200, 0.548);
    border-radius: 5px;
} */

/* h2 {
    margin: 10px 0;
} */

/* img {
    padding-bottom: 15px;
    max-width: 100%;
    height: auto;
} */

/* @media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
} */

/* .contenedor-texto {
    text-align: center;
    margin-top: 15px;
    margin: 0 15px;
    font-weight: bold;
} */
/*FIN DE ESTILOS DE OBRAS FINALIZADAS*/

/*Estilos de Preguntas Frecuentes */
.tituloPF {
    font-size: 40px;
    text-align: left;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .tituloPF {
        font-size: 24px;
    }
}

.contenedor-preguntas {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Estilos para el acordeón */
.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 2px 5px #0000001a;
}

.accordion-button {
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 0;
    padding: 15px 20px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

.accordion-button:hover {
    background-color: #35426471;
    color: #000000;
}

.accordion-button.collapsed {
    background-color: #91adc56e;
    color: #354264;
}

.accordion-body {
    background-color: #fff;
    color: #000000;
    font-size: 17px;
    padding: 20px;
}

/* Estilos del formulario de contacto */

.form-container h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 40px;
    margin: 30px 0;
}

/* Estilos para el contenedor principal */
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Estilos para los contenedores de formulario y texto */
.form-container,
.text-container {
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Espacio entre grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

/* Etiquetas de formulario */
label {
    display: block;
    font-weight: bold;
}

/* Tamaños específicos para tipos de entrada */
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: calc(50% - 10px);
}

/* Estilos generales para todos los campos de entrada y textarea */
input,
textarea {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    display: block;
}

/* Media query para estilos personalizados en pantalla pequeña */
@media (max-width: 768px) {

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 100%;
        /* Los campos de entrada ocuparán el ancho completo */
    }

    textarea {
        width: 100%;
        height: 150px;
        /* Altura personalizada para el textarea */
        max-width: none;
        resize: none;
        display: block;
    }
}

/* Estilos para pantalla grande */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

/* Botón de envío del formulario */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container-map {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-map h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 300px;
}




/* Fin de estilo de contacto */





/* Estilos generales footer */
.footer-nav {
    background-color: var(--color3);
    padding: 20px 0;
    text-align: center;
    color: #333;
}

.enlaces-nav {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.enlaces-nav:hover {
    color: white;
}

.footer-text {
    font-size: 14px;
}

/* Estilos específicos */
.footer1,
.footer2 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.footer2 {
    font-size: 12px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-nav {
        padding: 15px 0;
    }

    .enlaces-nav {
        margin: 0 10px;
    }

    .footer-text {
        font-size: 12px;
    }

    .footer1,
    .footer2 {
        font-size: 14px;
    }
}