/* Estilos generales footer */
.footer-nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background-color: var(--color3);
    padding: 20px 0;
    text-align: center;
    color: #f3f5ef;

    .enlaces-nav {
        margin: 0 15px;
        text-decoration: none;
        color: #f3f5ef;
        transition: color 0.2s;

        &:hover {
            color: #fff700;
        }
    }

    .footer-text {
        font-size: 14px;
    }

    /* Estilos específicos */
    .footer1,
    .footer2 {
        margin: 0;
        font-weight: bold;
        font-size: 16px;

        &.footer2 {
            font-size: 12px;
        }
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
        padding: 15px 0;

        .enlaces-nav {
            margin: 0 10px;
        }

        .footer-text {
            font-size: 12px;
        }

        .footer1,
        .footer2 {
            font-size: 14px;
        }
    }
}