/* NAV */
nav {
    background-color: var(--color1);

    .nav-link {
        color: #ffffff;

        &:hover {
            color: var(--color2);
        }
    }

    .navbar-brand {
        font-size: 35px;
        color: #ffff00e5;

        &:hover {
            color: #f5f5059f;
        }
    }
}