/* NAV */
nav {
    background-color: var(--color1);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;

    .nav-link {
        color: #ffffff;

        &:hover {
            color: #fff700;
        }
    }

    .navbar-brand {
        font-size: 35px;
        color: #fff700;

        &:hover {
            color: #f5f505ad;
            transition: 0.2s;
        }
    }
}